<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="dashboard">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="settings"><span class="glyphicon glyphicon-cog"></span> Paramètres</a></li>
                        <li><a href="chat"><span class="glyphicon glyphicon-envelope"></span> Chat</a></li>
                        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <header class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div>
            <h1>Ajouter une tache</h1>
            <center><form accept-charset="utf-8">
                <div class="form-group">
                    <label for="taskName">Nom de la tâche :</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                        <input id="taskName" type="text" class="form-control" name="taskName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="taskOrder">Priorité de la tâche :</label>
                    <input type="text" id="taskOrder" class="form-control bfh-number" data-min="1" data-max="9" data-wrap="true">
                </div>
                <div class="form-group">
                    <label for="taskBackColor">Attribuer une couleur de fond:</label>
                    <div id="taskBackColor" class="bfh-colorpicker" data-name="taskBackColor" data-color="#000000"></div>
                </div>
                <div class="form-group">
                    <label for="taskFontColor">Attribuer une couleur de police:</label>
                    <div id="taskFontColor" class="bfh-colorpicker" data-name="taskFontColor" data-color="#ffffff"></div>
                </div>
                <div class="form-group">
                    <label for="taskDate">Choisir une date :</label>
                    <div id="taskDate" class="bfh-datepicker" data-format="d-m-y" data-date="today"></div>
                </div>
                <div class="form-group">
                    <label for="taskTime">Choisir une horaire :</label>
                    <div id="taskTime" class="bfh-timepicker" data-time="now"></div>
                </div>
                <input type="submit" id="addButton" class="btn btn-primary" value="Ajouter la tâche">
            </form></center>
        </div>
    </header>

    <div id='taskList' class="col-xs-12">
        <% tasks.forEach(function(task) { %>
            <%- include('taskListItem', task) %>
        <% }); %>
    </div>


    <script src="/javascripts/dashboardBehaviors.js"></script>
</body>

</html>