<!DOCTYPE html>
<html>

<head>
    <title>Sign up - Todo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="register">Création du compte</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container register">
        <h1>S'enregistrer</h1>

        <% if (typeof error != 'undefined') { %>
            <p><%= error %></p>/
        <% } %>

        <form action="/register" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="username">Pseudo :</label>
                <input id="username" type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input id="password" type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
                <label for="passwordConfirm">Confirmer le mot de passe :</label>
                <input id="passwordConfirm" type="password" class="form-control" name="confirmPassword">
            </div>

            <div class="form-group">
                <label for="email">Adresse Email :</label>
                <input id="email" type="email" class="form-control" name="email">
            </div>

            <center><div class="g-recaptcha " data-sitekey="6Ld4xh4UAAAAAATuwujPXtHgnJCxUUreFWcZJ44O"></div><br>

            <input type="submit" class="btn btn-default" value="Créer un compte"></center>
        </form>

    </main>
    <%if (typeof lastEntries != 'undefined') { %>
        <script>
            var lastEntries = <%- JSON.stringify(lastEntries) %>;
            if (lastEntries.username)
                document.getElementById('username').value = lastEntries.username;

            if (lastEntries.email)
                document.getElementById('email').value = lastEntries.email;
        </script>
    <% } %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>