<div id="<%= _id %>" class="task row" style="background-color: <%= Backcolor %>; color: <%= Fontcolor %>;">
    <p class="col-xs-12 col-sm-12 col-md-1 col-lg-1 taskTitle"><span><%= order %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-7 col-lg-7 taskTitle"><span><%= name %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3 taskDate"><span>Le <%= date %> à <%= time %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-1 col-lg-1 taskTrash"><span><i class="glyphicon glyphicon-trash"></i></span></p>
</div>
