* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.selectable {
  -webkit-touch-callout: auto;
  /* iOS Safari */
  -webkit-user-select: auto;
  /* Safari */
  -khtml-user-select: auto;
  /* Konqueror HTML */
  -moz-user-select: auto;
  /* Firefox */
  -ms-user-select: auto;
  /* Internet Explorer/Edge */
  user-select: auto;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

header {
  padding-top: 50px;
}

p {
  margin: 0;
}

.task {
  display: block;
  width: 80%;
  margin: 20px auto !important;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #222;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.taskTitle {
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
  font-weight: bolder;
}

.taskDate {
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
}

.taskTrash {
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
}
.glyphicon-trash:hover {
  opacity: 0.75;
  cursor: pointer;
}


p.error {
  color: #cb2431;
  margin: 16px 0; }



.register {
  padding: 30px; }
  .register h1 {
    text-align: center !important; }

/*# sourceMappingURL=main.css.map */

header {
  margin-bottom: 30px;
}

header .user {
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  background-color: #123456;
}
.chat {
  border-left: 4px solid #333;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 30px;
}

.message-group {
  padding: 8px;
}

.user {
  color: #fff;
  padding: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  background-color: #123456;
}

.message {
  border-bottom: 2px solid #123456;
  margin-left: -4px;
  padding: 0 0 2px 6px;
  color: #333;
  font-style: italic;
}

.user-connection {
  font-weight: bolder;
}

.message-connection {
  font-style: italic;
}

.message-group-connection {
  color: #fff;
  padding: 6px;
  margin: 8px 0 8px 0;
  border-radius: 4px;
  background-color: #1E824C;
}

.message-group-deconnection {
  color: #fff;
  padding: 6px;
  margin: 8px 0 8px 0;
  border-radius: 4px;
  background-color: #7f0f0f;
}