body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
.task {
    display: block;
    width: 80%;
    padding: 20px;
    margin: 20px auto !important;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #222;
}

.taskTitle {
    display: block;
    text-align: center;
}
.taskTime {
    display: block;
    text-align: center;
}

.taskDate {
    display: block;
    text-align: center;
}

.taskTrash {
    display: block;
    text-align: center;
}
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////

.register {
    h1 {
        text-align: center;
    }
}