$foregroundColor: #475B63;
$highlighColor: #729B79;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.selectable {
    -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
    -khtml-user-select: auto; /* Konqueror HTML */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* Internet Explorer/Edge */
    user-select: auto; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
}

header {
    z-index: 10;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: box-shadow .4s ease-in-out;

    > div {
        max-width: 840px;
        margin: 0 auto;
        padding: 0px 24px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        color: #475B63;
        font-size: 2.6em;
    }

    h1.subtitle {
        opacity: .6;
        color: #475B63;
        font-weight: 100;
        font-size: 1.6em;
        margin: 0 8px;
        flex-grow: 1;
    }

    i.zmdi {
        font-size: 1.8em;
        margin: 0 24px;

        &.zmdi-scale {
            font-size: 2.3em;
        }
    }

    &.shadow {
        box-shadow: 0px 2px 8px rgba(gray, .3);
    }
}

.task {
    display: block;
    width: 80%;
    padding: 20px;
    margin: 20px auto !important;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #222;
}

.taskTitle {
    display: block;
    text-align: center;
}
.taskTime {
    display: block;
    text-align: center;
}

.taskDate {
    display: block;
    text-align: center;
}

.taskTrash {
    display: block;
    text-align: center;
}

/*
div.tasks {
    max-width: 840px;
    margin: 0 auto;
    padding: 24px;

    .task {
        background-color: white;
        opacity: .8;
        border-radius: 3px;
        padding: 20px 24px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 2px 8px rgba(gray, .1);

        &:hover i.zmdi {
            opacity: 1;
        }

        i.zmdi {
            opacity: 0;
            font-size: 1.4em;
            margin-left: 24px;
        }

        > div {
            flex-grow: 1;
        }

        .task-name {
            display: block;
        }

        .task-date {
            opacity: .8;
            font-size: .9em;
            margin-top: 4px;
        }
    }
}
*/
p {
    &.error {
        color: #cb2431;
        margin: 16px 0;
    }
}

.form {
    > * {
        margin-bottom: 16px;
        display: block;
        width: 100%;
    }

    label {
        margin-bottom: 6px;
    }

    // input[type=text], input[type=password], input[type=email] {
    //     padding: 6px 8px;
    //     border: 1px solid lightgray;
    //     border-radius: 3px;
    // }

// Color : #bc4034
    // input[type=submit] {
    //     font-weight: bold;
    //     background: dodgerblue;
    //     color: white;
    //     border: none;
    //     border-radius: 3px;
    //     margin-top: 24px;
    //     padding: 8px 12px;
    //     box-shadow: 0 0 0px lightgray;
    //     transition: box-shadow .2s ease-in-out;

    //     &:hover {
    //         box-shadow: 0 0 16px lightgray;
    //     }

    //     &:active {
    //         background: darken(dodgerblue, 4%);
    //     }
    // }
}

.popup.container {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(white, 0.6);
    display: none;
}

.popup.view {
    position: relative;
    width: 100px;
    margin: 70px auto;
    padding: 32px;
    padding-bottom: 62px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgba(gray, .1);

    h2 {
        font-weight: 100;
        font-size: 1.2em;
        opacity: .8;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        width: auto;
        float: right;
    }

    i.zmdi-close {
        position: absolute;
        top: 32px;
        right: 32px;
        font-size: 1.4em;
    }
}

// Inputs
input[type="text"] {
    color: $foregroundColor;
    border: 1px solid rgba($foregroundColor, 0.2);
    border-radius: 3px;
    padding: 6px 8px;

    &:focus {
        outline: 1px solid $highlighColor;
    }
}

input[type=submit] {
    font-weight: bold;
    background: $highlighColor;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    box-shadow: 0 0 0px lightgray;
    transition: box-shadow .2s ease-in-out;

    &:hover {
        box-shadow: 0 0 16px lightgray;
    }

    &:focus {
        outline: none;
    }

    &:active {
        background: darken($highlighColor, 4%);
    }
}

.register {
    padding: 30px;
    h1 {
        text-align: center !important;
    }
}